language: node_js
node_js:
    - "6"
    - "7"
    - "8"
script:
    - npm test
    - node dist/run.js
sudo: false
branches:
    only:
    - master

deploy:
    local_dir: dist
    email: benedikt.meurer@googlemail.com
    name: Benedikt Meurer
    project_name: web-tooling-benchmark
    provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    on:
        branch: master
